* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(45deg, #6441a5, #8A00FE);
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vh;
  display:flex;
  align-items: center;
  justify-content: center;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

.logo {
  width: 60px;
  margin: 0 auto 2rem;
  
}

main.container {
  background: white;
  max-width: 350px;
  min-height: 40vh;
  padding: 5rem;
  border-radius: 5px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}

main h2 {
  font-weight: 600;
  margin-bottom: 2rem;
  position: relative;
}

.input-field {
  position: relative;
}

form .input-field:first-child {
  margin-bottom: 1rem;
}

.input-field .underline::before {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  bottom: -5px;
  left: 0;
  background: rgba(0,0,0,0.2);
}

.input-field .underline::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  bottom: -5px;
  left: 0;
  background: linear-gradient(45deg, #6441a5, #8A00FE);
  transform: scale(0);
  transition: all .3s ease-in-out;
  transform-origin: left;
}

.input-field input:focus ~ .underline::after {
  transform: scale(1);
}

form {
  display: flex;
  flex-direction: column;
}

.input-field input {
  outline: none;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.5);
}

form input[type="submit"] {
  margin-top: 1rem;
  padding: 1rem;
  background: linear-gradient(to left, #6441a5, #8A00FE);
  cursor: pointer;
  color: white;
  font-size: 1rem;
  font-weight: 300px;
  border-radius: 4px;
  transition: all 0.2s ease;
}

form input[type="submit"]:hover {
  letter-spacing: 0.5px;
  background: linear-gradient(to right, #6441a5, #8A00FE);
}

.footer {
  display:flex;
  flex-direction: column;
  margin-top: 1rem;
}

.footer a {
  color: #8A00FE;
  font-size: 0.8rem;
  text-align: center;
  text-decoration: none;
}

.footer p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  color: rgba(0,0,0,0.7);
}

.footer p::before, .footer p::after {
 position: absolute;
 content: "";
 height: 1px;
 width: 60px;
 right: 410px;
 left: 685px;
 background: rgba(0,0,0,0.10);
}

.footer p::after {
  left: 790px;
}

.footer .social-field  {
  padding: 0.5rem;
  border-radius: 4px;
  font-size: 0.85rem;
  width: 92%;
  cursor: pointer;
  margin-top: 1rem;
}

.footer .social-field a i {
  margin: 0 0.5rem;
  width: 5px;
}

.footer .social-field a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.footer .social-field.facebook {
  background: linear-gradient(to right, #1e3c62, #2a5298);
}

h5 {
  color: rgba(0, 0, 0, 0.6);
}