* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(45deg, #6441a5, #8A00FE);
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vh;
  display:flex;
  align-items: center;
  justify-content: center;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

.twitch {
  width: 150px;
  height: 150px;
}

.logo {
  
}

main.container {
  background: white;
  max-width: 350px;
  min-height: 40vh;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

